table{
	border-collapse:collapse;
}

table,th,td{
	border: 1px solid grey;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td *{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

table{
	table-layout:fixed;
}

td{
	padding: 0;
}

.grid{
	width:30px;
	height:30px;
	display:inline-block;
}