<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Network</title>
		<link rel="stylesheet" href="../../normalize.css">
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<link rel="stylesheet" href="./network.css"></head>
	<body>
		<div id="app">
			<div>
				<h1 style="display:inline-block;">Network</h1>
				<span>v{{VERSION}}</span>
			</div>
			<div style="width: 100%;">
				<strong>财富:{{printNumber(gameData.coin)}}</strong>
				<span>(+{{printNumber(calcGlobalSum())}}财富/秒)</span>
			</div>
			<div>
				<div v-if="calcGlobalMult()&gt;1">全局总加成:x{{printNumber(calcGlobalMult())}}</div>
				<div v-if="calcGlobalPower()&gt;1">全局总指数:^{{printNumber(calcGlobalPower())}}</div>
			</div>
			<div class="col">
				<div>
					<h3 style="display:inline-block">结构</h3>
					<button @click="forEachObj(o=>o.show=false)" class="btn">收起全部</button>
					<button @click="forEachObj(o=>o.show=true)" class="btn">展开全部</button>
				</div>
				<arr-shower :arr="gameData.arr"></arr-shower>
			</div>
			<div class="col" v-if="showImproveAreas()">
				<div>
					<h3 style="display:inline-block">每个放置游戏都有的东西</h3>
				</div>
				<ul>
					<li v-if="showSkillArea()" class="skill-area">
						<strong>技能</strong>
						<button @click="gameData.showSkills=!gameData.showSkills" class="btn">{{gameData.showSkills?'收起':'展示'}}</button>			
						<ul v-if="gameData.showSkills">
							<li v-for="(s,id) in gameData.skills" class="skills">
								<strong>{{skillLevelName(id)}}</strong>
								<button @click="s.show=!s.show" class="btn">{{s.show?'收起':'展示'}}</button>			
								<div v-if="s.show">
									<span>
										{{printNumber(s.skillPoint)+skillPointName(id)}}
									</span>
									<button @click="toSkill(id)" class="btn-danger" :disabled="!canToSkill(id)">{{skillLevelName(id)}}</button>
									<span v-if="canToSkill(id)">
										(+{{printNumber(calcSkillPointGain(id))}})
									</span>
									<span v-else>
										<span v-if="id>0">
											需要至少{{printNumber(1e6)}}{{skillPointName(id-1)}}
										</span>
										<span v-else>
											需要至少{{printNumber(1e6)}}财富
										</span>
									</span>
									<ul>
										<li v-for="(lv,skId) in s" v-if="isSkill(skId)&&isSkillEnabled(skId,id)" class="skill">
											<div>
												<strong>{{skillName(skId)}}</strong>
												<span>{{skillEffectString(s,skId,s[skId])}}</span>
												<span v-if="canLearnSkill(s,skId)">
													<span>=></span>
													<span>{{skillEffectString({[skId]:lv+1},skId)}}</span>
												</span>
											</div>
											<span>{{lv}}级</span>
											<button @click="learnSkill(s,skId)" class="btn-enabled" :disabled="!canLearnSkill(s,skId)">学习</button>
											<span>花费:{{printNumber(skillCost(s,skId))+skillPointName(id)}}</span>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
					<li v-if="showLayerArea()" class="layer-area">
						<div>
							<strong>层级</strong>
						</div>
						<div>
							<span>原层级:{{gameData.layer}}</span>
						</div>
						<div>
							<span>新层级:{{gameData.layer+1}}</span>
						</div>
						<button class="btn-danger" :disabled="!canLayerUp()" @click="layerUp()">提升</button>
						<span v-if="canLayerUp()">提升会使你失去一切，包括所有<strong>结构、财富和技能</strong></span>
						<span v-else>{{layerUpHint()}}</span>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="./network.js"></script>
</html>