textarea{
	font-family: monospace !important;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	overflow: auto;
	white-space: pre;
}
body{
	padding: 0;
	margin: 0;
}
.col{
	width: 45%;
	margin: 0 2.5%;
	float: left;
}
.area{
	width: 100%;
	float: left;
}
.ww{
	width:100%;
}