body,html{
	margin: 0;
	height: 100%;
}
header{
	width: 100%;
	position: sticky;
	top:0;
	background-color: white;
	border:solid darkblue;
	border-width: 0 0 2px;
	box-shadow: 0 0 3px black;
	z-index: 1;
}
img{
	max-width: 100%;
}
#page{
	padding: 30px 0 calc(30px + 60px) 0;
}
.contains{
	padding:10px;
	border:2px solid black;
	border-radius:5px;
	margin: 10px 0;
}
#main{
	width:64%;
	margin: 0 auto; 
}
footer{
	text-align: center;
	padding-top: 8px;
	border-top: 2px solid black;
	position: absolute;
	bottom: 0;
	width: 100%;
}
#app{
    position:relative;
	min-height: 100%;
}
pre{
	overflow-x: auto;
}