body,html{
	margin: 0;
	height: 100%;
	font-family:sans-serif;
	background-size: cover;
}

a{
	text-decoration: none;
}
a:link {
	color: darkorange;
}   
a:visited {
	color: darkorange;
}
@keyframes a-in{
	0%{
		color:darkorange;
	}
	100%{
		color:orange;
	}
}
a:hover {
	color:orange;
	animation: a-in 0.3s;
}

img,canvas{
	max-width: calc(100%);
}

h1,h2,h3,h4,h5,h6{
	text-decoration: none;
}

#app{
    position:relative;
	min-height: 100%;
}
@media screen and (max-width: 1000px){
	body{
		background: #eeeeee;
	}
	#main{
		width: 100%;
	}
	.sidebar{
		display: inline-block;
		float: none !important;
		width: 100%;
		margin: 0 auto;
	}
	.sideblock{
		width:auto;
	}
	#page{
		padding: 0 0 60px 0;
	}
	.contains{
		margin: 5px 0;
	}
	header{
		padding: 0;
	}
}
@media screen and (min-width: 1000px){
	body{
		background:#eeeeee url(https://acg.toubiec.cn/random) fixed;
	}
	#main{
		width:64%;
		margin: 0 auto; 
	}
	.sidebar{
		width:15%;
		margin:0 1.5%;
	}
	.sideblock{
		width:calc(100% - 24px);
	}
	#page{
		padding: 30px 8% calc(30px + 60px) 8%;
	}
	.contains{
		margin: 10px 0;
	}
	header{
		padding: 0 8%;
	}
}

header{
	font-family: 'Consolas', 'Courier New', 'Courier', 'monospace';
	position: sticky;
	top:0;
	background-color: rgba(255, 255, 255,0.8);
	box-shadow: 0 0 8px rgba(192, 192, 192, 0.8);
	z-index: 1;
}

.contains{
	background-color: rgba(255, 255, 255,0.8);
	padding:10px;
	border-radius:5px;
	box-shadow: 0 0 8px rgba(192, 192, 192, 0.8);
	overflow-x: hidden;
}

code{
	font-family: 'Consolas', 'Courier New', 'Courier', 'monospace';
	border-radius: 3px;
	background-color: rgba(216, 216, 255, 0.8);
	padding: 0 3px;
}

pre code{
	background: none !important;
	padding: 0 !important;
}

pre{
	box-shadow: 0 0 8px rgba(192, 192, 192, 0.8);
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	background-color: rgba(255, 255, 255,0.8);
	overflow-x: auto;
}


.cf-black-red{
	color:red !important;
	font-weight: bold;
	display: inline-block;
}

.cf-black-red:first-letter{
	color:black !important;
}

footer{
	height: 60px;
	background-color: rgba(255, 255, 255,0.8);
	text-align: center;
	padding-top: 8px;
	box-shadow: 0 0 8px rgba(192, 192, 192, 0.8);
	position: absolute;
	bottom: 0;
	width: 100%;
}

button{
	box-shadow: 0 0 8px rgba(192, 192, 192, 0.8);
	border: none;
	border-radius: 5px;
	background: rgb(240, 240, 240);
	color:black;
	padding: 4px 8px;
	line-height: 18px;
}
button:hover{
	background: whitesmoke;
}
button:active{
	background: lightgray;
}
button:disabled{
	border: 1px rgba(0,0,0,0) solid;
	background-color:rgb(96,96,96) !important;
	cursor: not-allowed;
}

hr{
	background-color: rgb(192,192,192);
	border: none;
	height: 2px;
}

blockquote{
	margin-inline-start: 0;
	padding-inline-start: 38px;
	border-inline-start: 2px dotted rgb(216,216,216);
}