<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>膜拜Siyuan</title>
		<script src="../vue.js"></script>
	</head>
	<body>
		<div id="global" class="global">
			加载中……
		</div>
		<div id="app" :style="{filter:`brightness(${light**1.5})`}" style="display:none;">
			<h1>膜拜<span class="siyuan"></span></h1>
			<p v-html="dailyMessage"></p>
			<div class="area">
				<h2>荒野</h2>
				<blockquote>
					<p>
						曾经，有一个高度发达的文明在这个星球上度过了它最为繁荣的时代。在那时，人们相信<span class="siyuan"></span>是最强的神，也是这个星球的科技、魔法与信仰三大学科体系高度发展的原因。
					</p>
					<p>
						然而好景不长，人们曾认为亘古不变的真理在一次失控的魔法实验之后支离破碎。科技与魔法的支柱轰然倒塌，毁灭席卷了整个星球。
					</p>
					<p>
						高楼变为废墟，法阵化作黄土，雕像碎成砂砾，但<span class="siyuan"></span>并未抛弃这个文明——因为信仰仍在。
					</p>
				</blockquote>
				<div class="col">
					<h4>膜拜</h4>
					<div>
						<div>
							<span>您已膜拜{{pn(moValue)}}次</span>
						</div>
						<button @click="moSiyuan(1)" style="color:red">膜拜<span class="siyuan"></span><span v-if="moDelta!==1">{{pn(moDelta)}}次</span></button>
						<span v-if="bookEffect>0">{{moSiyuanTag}}</span>
					</div>
					<div v-if="moCount>=10">
						<hr>
						<button @click="buyAdvancedMo"
						:disabled="!canBuyAdvancedMo">{{advancedMoText}}</button>
						<button v-if="techLevel('xuanxue')>=1"
						@click="while(canBuyAdvancedMo)buyAdvancedMo();"
						:disabled="!canBuyAdvancedMo">最大</button>
					</div>
					<div v-if="advancedMoLevel>=10">
						<hr>
						<button @click="buyMoer"
						:disabled="!canBuyMoer">{{moerText}}</button>
						<button v-if="techLevel('xuanxue')>=2"
						@click="while(canBuyMoer)buyMoer();"
						:disabled="!canBuyMoer">最大</button>
					</div>
					<div v-if="advancedMoLevel>=20">
						<hr>
						<button @click="buyChurch"
						:disabled="!canBuyChurch">{{churchText}}</button>
						<button v-if="techLevel('xuanxue')>=6"
						@click="buyChurchMax"
						:disabled="!canBuyChurch&&!canBuyMoer">自动购买</button>
					</div>
				</div>
				<div class="col" v-if="churchs>=5">
					<h4>信仰</h4>
					<div>
						<div>
							<span>信仰:{{pn(XY)}}</span>
						</div>
						<button @click="buyXY"
						:disabled="moValue<=10000">{{XYText}}</button>
					</div>
					<div v-if="XY>=100||books>0">
						<hr>
						<button @click="buyBook"
						:disabled="!canBuyBook">{{bookText}}</button>
						<button v-if="techLevel('xuanxue')>=1"
						@click="while(canBuyBook)buyBook();"
						:disabled="!canBuyBook">最大</button>
					</div>
					<div v-if="books>0">
						<hr>
						<button @click="sp"
						:disabled="books<spCost">{{spText}}</button>
						(+?信徒)
					</div>
					<div v-if="moers>=100+temple*10">
						<hr>
						<button @click="exploreTemple"
						:disabled="XY<exploreTempleCost">{{exploreTempleText}}</button>	
					</div>
				</div>
			</div>
			<div class="area" v-if="temple>0">
				<h2>遗迹</h2>
				<strong>已发现{{pn(temple)}}个遗迹</strong>
				<blockquote>
					<p>
						过去的事物深埋于地下，而且数量稀少，发掘它们需要坚定的信仰。尽管道路艰辛，但这是前进所必须的代价。文明不进即退，而这残存的文明已经无路可退。
					</p>
					<p>
						在遗迹中，人们惊喜地发现了向<span class="siyuan"></span>祈求水晶的途径。拥有了水晶，两扇大门便随着遗迹的探索徐徐开启……
					</p>
				</blockquote>
				<div class="area">
					<div class="area">
						<div class="col">
							<h4>遗迹大门</h4>
							<div>
								<div>
									<span>水晶:{{pn(crystal)}}</span>
								</div>
								<button @click="pray"
								:disabled="!canPray">祈求恩赐 [{{pn(prayCost)}}次膜拜]</button>
								<button v-if="techLevel('xuanxue')>=2"
								@click="while(canPray)pray();"
								:disabled="!canPray">最大</button>
							</div>
							<div v-if="wisdomLevel>0||crystal>0">
								<hr>
								<button @click="wisdomUpgrade"
								:disabled="!canUpgradeWisdom">智慧 Lv.{{pn(wisdomLevel)}} [{{wisdomUpgradeCost}}水晶]</button>
								<button v-if="techLevel('xuanxue')>=5"
								@click="wisdomUpgradeMax"
								:disabled="!canUpgradeWisdom&&!canPray">自动购买</button>
							</div>
							<div v-if="temple>=2&&(mysteryLevel>0||wisdomLevel>=1)">
								<hr>
								<button @click="mysteryUpgrade"
								:disabled="!canUpgradeMystery">奥秘 Lv.{{pn(mysteryLevel)}} [{{mysteryUpgradeCost}}水晶]</button>
								<button v-if="techLevel('xuanxue')>=6"
								@click="mysteryUpgradeMax"
								:disabled="!canUpgradeMystery&&!canPray">自动购买</button>
							</div>
							<div v-if="temple>=3&&(natureLevel>0||mysteryLevel>=1)">
								<hr>
								<button @click="natureUpgrade"
								:disabled="!canUpgradeNature">本质 Lv.{{pn(natureLevel)}} [{{natureUpgradeCost}}水晶]</button>
								<button v-if="techLevel('xuanxue')>=7"
								@click="natureUpgradeMax"
								:disabled="!canUpgradeNature&&!canPray">自动购买</button>
							</div>
						</div>
						<div class="col" v-if="wisdomLevel>=5">
							<h4>朝圣地</h4>
							<div>宝石:{{pn(gem)}}</div>
							<div>
								<button @click="makeGem"
								:disabled="makeGemEarn<1" >雕琢 (+{{pn(makeGemEarn)}}宝石)</button>	
							</div>
							<div v-if="gem>0||altar>0">
								<hr>
								<div>神学:{{pn(theology)}}</div>
								<button @click="buyAltar"
								:disabled="gem<altarCost">神坛*{{pn(altar)}} [{{pn(altarCost)}}宝石]</button>
							</div>
							<div v-if="tech.hugeStoneBuilding>0">
								<hr>
								<button @click="buyHugeStone"
								:disabled="!canBuyHugeStone">巨石*{{pn(hugeStone)}} [{{pn(hugeStoneCost)}}信仰]</button>
							</div>
						</div>
					</div>
					<div class="area">
						<div class="col" v-if="mysteryLevel>=5">
							<h4>炼金区</h4>
							<div>魔法石:{{pn(magicStone)}}</div>
							<div>
								<button @click="makeMagicStone"
								:disabled="makeMagicStoneEarn<1" >赋能 (+{{pn(makeMagicStoneEarn)}}魔法石)</button>	
							</div>
							<div v-if="magicStone>0||magician>0">
								<hr>
								<div>魔力:{{pn(magic)}}</div>
								<button @click="buyMagician"
								:disabled="magicStone<magicianCost">魔法师*{{pn(magician)}} [{{pn(magicianCost)}}魔法石]</button>
							</div>
							<div v-if="tech.fazhenBuilding>0">
								<hr>
								<button @click="buyFazhen"
								:disabled="!canBuyFazhen">法阵*{{pn(fazhen)}} [{{pn(fazhenCost)}}巨石]</button>
							</div>
						</div>
						<div class="col" v-if="natureLevel>=5">
							<h4>实验室</h4>
							<div>透镜:{{pn(len)}}</div>
							<button @click="makeLen"
							:disabled="makeLenEarn<1" >打磨 (+{{pn(makeLenEarn)}}透镜)</button>		
							<div v-if="len>0||scientist>0">
								<hr>
								<div>研究:{{pn(science)}}/{{pn(scienceLimit)}}</div>
								<button @click="buyScientist"
								:disabled="len<scientistCost">科学家*{{pn(scientist)}} [{{pn(scientistCost)}}透镜]</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="area" v-if="(temple>=5&&altar>=5&&magician>=5&&scientist>=5)||this.truthLevel>0">
				<h2>城镇</h2>
				<blockquote>
					<p>在遗迹中的发现与收获振奋了信徒们。愚昧逐渐远离，新的知识填充了信徒们的内心。</p>
					<p>但新的挑战也已来临：天灾人祸随时可能发生，只有居安思危，稳妥前行，才能防止在灾难发生时遭到重创。</p>
				</blockquote>
				<div class="col">
					<h4>真理之路</h4>
					<p v-if="truthLevel>0">
						<strong>你已探索到真理{{pnr(truthLevel)}}</strong>
					</p>
					<div v-if="hasUpgrade(truthLevel)">
						<p>
							正在追寻<strong>真理{{pnr(truthLevel+1)}}</strong>
							<span v-html="truthAbbrDescription(truthLevel)">
							</span>
						</p>
						<p>
							阶段{{truthUpgradeStage}}/{{TRUTH_UPGRADES[truthLevel].stages}}，
							已进行<span :class="{danger:truthUpgradeAttempt>=TRUTH_UPGRADES[truthLevel].attempts}">{{truthUpgradeAttempt}}</span>次尝试
							<button @click="resetTruthUpgrade">重置</button>
						</p>
						<table v-if="truthUpgradeHistory.length>0" style="text-align:center;" class="ww">
							<tbody>
								<tr>
									<th>编号</th>
									<th>宝石</th>
									<th>魔法石</th>
									<th>透镜</th>
									<th>结果</th>
								</tr>
								<tr v-for="(item,id) in truthUpgradeHistory">
									<td>{{id+1}}</td>
									<td>{{item.x}}</td>
									<td>{{item.y}}</td>
									<td>{{item.z}}</td>
									<td>{{TRUTH_UPGRADES[truthLevel].message(item.r)}}</td>
								</tr>
							</tbody>
						</table>
						<hr>
						<table class="ww">
							<tbody>
								<tr>
									<th>材料</th>
									<th colspan="2">数量({{pn(TRUTH_UPGRADES[truthLevel].minCost)}}~{{pn(TRUTH_UPGRADES[truthLevel].maxCost)}})</th>
								</tr>
								<tr class="truthupgrade">
									<th :class="{needed:gem<gemChosen}">宝石</th>
									<td>
										<input type="range" :min="TRUTH_UPGRADES[truthLevel].minCost" :max="TRUTH_UPGRADES[truthLevel].maxCost" step="1" v-model.number="gemChosen">
									</td>
									<td>
										<input type="number" :min="TRUTH_UPGRADES[truthLevel].minCost" :max="TRUTH_UPGRADES[truthLevel].maxCost" step="1" v-model.number="gemChosen">
									</td>
								</tr>
								<tr class="truthupgrade">
									<th :class="{needed:magicStone<magicStoneChosen}">魔法石</th>
									<td>
										<input type="range" :min="TRUTH_UPGRADES[truthLevel].minCost" :max="TRUTH_UPGRADES[truthLevel].maxCost" step="1" v-model.number="magicStoneChosen">
									</td>
									<td>
										<input type="number" :min="TRUTH_UPGRADES[truthLevel].minCost" :max="TRUTH_UPGRADES[truthLevel].maxCost" step="1" v-model.number="magicStoneChosen">
									</td>
								</tr>
								<tr class="truthupgrade">
									<th :class="{needed:len<lenChosen}">透镜</th>
									<td>
										<input type="range" :min="TRUTH_UPGRADES[truthLevel].minCost" :max="TRUTH_UPGRADES[truthLevel].maxCost" step="1" v-model.number="lenChosen">
									</td>
									<td>
										<input type="number" :min="TRUTH_UPGRADES[truthLevel].minCost" :max="TRUTH_UPGRADES[truthLevel].maxCost" step="1" v-model.number="lenChosen">
									</td>
								</tr>
								<tr>
									<th></th>
									<th colspan="2">本次消耗</th>
								</tr>
								<tr>
									<th :class="{needed:crystal<truthUpgradeCrystalCost}">水晶</th>
									<td colspan="2">{{pn(truthUpgradeCrystalCost)}}</td>
								</tr>
								<tr>
									<th :class="{needed:theology<truthUpgradeTheologyCost}">神学</th>
									<td colspan="2">{{pn(truthUpgradeTheologyCost)}}</td>
								</tr>
								<tr>
									<th :class="{needed:magic<truthUpgradeMagicCost}">魔力</th>
									<td colspan="2">{{pn(truthUpgradeMagicCost)}}</td>
								</tr>
								<tr>
									<th :class="{needed:science<truthUpgradeScienceCost}">研究</th>
									<td colspan="2">{{pn(truthUpgradeScienceCost)}}</td>
								</tr>
							</tbody>
						</table>
						<hr>
						<div>
							<button @click="truthUpgrade"
							:disabled="!canUpgradeTruth||TRUTH_UPGRADES[truthLevel].gugu">
								<span>
									追寻真理
								</span>
							</button>
							<span v-if="!truthUpgradeVaild">
								<em>将来实验数据上有偏差，你是要负责任的！</em>
							</span>
							<hint-message :value="truthUpgradeResult" :update="truthUpgradeMessageUpdate"></hint-message>
							<hint-message :value="truthUpgradeMessage" :update="truthUpgradeMessageUpdate"></hint-message>
						</div>
					</div>
					<div v-if="techLevel('devotionInduction')>0">
						<h4>感应</h4>
						<button @click="getDevotion">虔诚</button>
						<span>强度:{{pn(devotion)}}</span>
						<span>膜拜x{{pn(devotionInductionFactor)}}</span>
					</div>
				</div>
				<div class="col">
					<div v-for="lv in truthLevel">
						<h4>真理{{pnr(lv)}}</h4>
						<div v-if="lv==selectedTruthLevel">
							<p v-if="Object.keys(TECH[lv]).length===0">
								<del>咕咕咕……</del>
							</p>
							<ul v-else>
								<li v-for="(tech,id) in TECH[lv]" v-if="tech.require.every(([id,cnt])=>techLevel(id)>=cnt)">
									<button @click="buyTech(lv,id)"
									:disabled="!canBuyTech(lv,id)">
										{{tech.name}} Lv.{{techLevel(id)}}
										[{{tech.cost(techLevel(id)).map(([item,value])=>SAVE_ITEMS[item].format.replace(/VALUE/g,pn(value))).join(',')}}]
									</button>
									<div>{{tech.description}}</div>
								</li>
							</ul>
						</div>
						<div v-else>
							<button @click="selectedTruthLevel=lv">展开</button>
						</div>
					</div>
				</div>
			</div>
			<div class="area" v-if="tech.explore>0">
				<h2>外域</h2>
				<blockquote>
					<p>
						随着文明的重新建立，人们意识到这个星球上遗留的文明不止一个。“比平凡与愚昧更可怕的是失去光明。”他们是否仍膜拜着<span class="siyuan"></span>呢？
					</p>
					<p>
						不管如何，人们已经不甘于平凡的生活了。当得知关于敌人的消息后，他们反而热血沸腾，渴望通过战斗来获得全新的资源。
					</p>
				</blockquote>
				<div class="area">
					<div class="col">
						<div class="area">
							<h4>元素</h4>
							<div>
								<strong>光明:{{pn(light*100)}}%</strong>
							</div>
							<div>
								<button @click="buyElementTower"
								:disabled="!canBuyElementTower">元素塔*{{elementTower}} [{{elementTowerHugeStoneCost}}块巨石,{{elementTowerFazhenCost}}座法阵,{{elementTowerLenCost}}枚透镜]</button>
							</div>
							<hr>
							<table v-for="elementTower>0" class="ww">
								<tbody>
									<tr>
										<th>元素</th>
										<th>拥有量</th>
										<th>变化率</th>
									</tr>
									<tr v-for="(el,id) in ELEMENTS" v-if="elementOwned[id]">
										<td>
											<strong :style="{color:el.color}">
												{{el.name}}
											</strong>
										</td>
										<td>{{pn(element[id])}}</td>
										<td>{{pn(basicElementEarn)}}/秒</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="area" v-if="position>0">
							<h4>建设</h4>
							<p>
								(按钮现在还按不了)
							</p>
							<ul>
								<li v-for="(t,id) in DEFENSE_BUILDING"
								v-if="showDB(id)">
									<div>
										<button :click="buildDB(id)"
										:disabled="canBuildDB(id)">
											{{t.name}}
											[{{
												[
													...(
														t.cost().resource.map(
															([id,value])=>SAVE_ITEMS[id]
																.format.replace(/VALUE/g,value)
														)
													),
													...(
														t.cost().element.map(
															([id,value])=>value+ELEMENTS[id].name+'元素'
														)
													)
												].join(',')
											}}]
										</button>
									</div>
									{{t.description}}
								</li>
							</ul>
						</div>
						<div class="area" v-if="position>0">
							<h4>防御</h4>
							阵地:{{0}}/{{pn(position)}}
						</div>
					</div>
					<div class="col" v-if="position>0">
						<h4>入侵</h4>
						<div>
							<!-- <progress class="ww"></progress> -->
						</div>
						<div>
							<!-- <progress class="ww"></progress> -->
						</div>
						<table v-if="enemy.current.length>0" class="ww">
							<tbody>
								<tr>
									<th colspan="2">敌人</th>
									<th>生命</th>
									<th>距离</th>
									<th>攻击</th>
									<th>速度</th>
								</tr>
								<tr>
									<th>等级</th>
									<th>功勋</th>
									<th></th>
									<th>意志</th>
									<th>圣盾</th>
									<th>护甲</th>
								</tr>
								<template v-for="(e,id) in enemy.current">
									<tr :style="{background:id%2?'#f0f0f0':'#ffffff'}">
										<td colspan="2">
											{{getName(e.dna)}}
										</td>
										<td>{{pn(e.abbr.health)}}</td>
										<td>{{pn(e.pos)}}</td>
										<td>{{pn(e.abbr.attack)}}</td>
										<td>{{pn(e.abbr.speed)}}</td>
									</tr>
									<tr :style="{background:id%2?'#f0f0f0':'#ffffff'}">
										<td>{{pn(Math.round(Math.log(e.strength)/Math.log(1.2)+1))}}</td>
										<td>{{pn(e.score)}}☆</td>
										<td><button>集火</button></td>
										<td>{{pn(e.abbr.defendx)}}</td>
										<td>{{pn(e.abbr.defendy)}}</td>
										<td>{{pn(e.abbr.defendz)}}</td>
									</tr>
								</template>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="area" v-if="moCount>1e6">
				<h2>文档</h2>
				<blockquote>
					<p>
						在探索荒野的时候，人们发现了一些来自失落文明的文档。它们现在看起来奥妙重重，难以读懂，但也许对将来文明的重建有巨大的帮助。
					</p>
				</blockquote>
				<div class="area">
					<div class="doc">
						<div class="col" v-if="moCount>1e6">
							<h4>
								文档A
							</h4>
							<p>
								以这个文明的现有技术水平还不能解读这篇<a href="./documentA.pdf">“天书”</a>中的东西，但<span class="siyuan"></span>一定可以。
							</p>
							<div class="docblock">
								<strong>因文档过大(约11.2MB)，请点击链接访问。</strong>
							</div>
						</div>
					</div>
					<div class="doc">
						<div class="col" v-if="moCount>1e7">
							<h4>
								文档B
							</h4>
							<p>
								似乎是一张<a href="./documentB.html">实验数据表</a>，记载了过去文明探索真理的过程。可惜，真理已有改变，不能直接套用其中的实验数据。
							</p>
							<iframe src="./documentB.html" class="docblock">
							</iframe>
						</div>
						<div class="col" v-else-if="moCount>=1e6">
							<h4>锟斤拷</h4>
							<p>
								还需要{{pn(1e7-moCount)}}次点击
							</p>
						</div>
					</div>
				</div>
				<div class="area">
					<div class="doc">
						<div class="col" v-if="moCount>3e7">
							<h4>
								文档C
							</h4>
							<p>
								一份发言记录(有删减)与一张截图，表现了两位高手在膜拜<span class="siyuan"></span>后取得了丰硕战果时的<a href="https://majsoul.union-game.com/0/">快乐</a>。
							</p>
							<div class="docblock">
								<h3>ニヒル</h3>
								<image src="./documentC1.png" width="100%">
								<image src="./documentC2.png" width="100%">
								<h3>Stepsys</h3>
								<image src="./documentC3.png" width="100%">
								<p>(注意 Stepsys 的昵称)</p>
							</div>
						</div>
						<div class="col" v-else-if="moCount>=1e7">
							<h4>烫烫烫</h4>
							<p>
								还需要{{pn(3e7-moCount)}}次点击
							</p>
						</div>
					</div>
					<div class="doc">
						<div class="col" v-if="moCount>1e8">
							<h4>
								文档D
							</h4>
							<p>
								一些php和md文件，似乎是一个<a href="https://orzsiyuan.com/archives/Algorithm/Simulate-Anneal">个人博客</a>。从博客名(orzsiyuan.com)可以看出即使对于个人，膜拜<span class="siyuan"></span>也十分重要。
							</p>
							<div class="docblock">
								<strong>因博客作者太强，大幅影响加载速度，请点击链接访问。</strong>
							</div>
						</div>
						<div class="col" v-else-if="moCount>=3e7">
							<h4>屯屯屯</h4>
							<p>
								还需要{{pn(1e8-moCount)}}次点击
							</p>
						</div>
					</div>
				</div>
				<div class="area">
					<div class="doc">
						<div class="col" v-if="moCount>5e8">
							<h4>文档E</h4>
							<p>只有大家的领导者才能解读<a href="./documentE.html">这篇文档</a>。</p>
							<iframe src="./documentE.html" class="docblock">
							</iframe>
						</div>
						<div class="col" v-else-if="moCount>=1e8">
							<h4>诺诺诺</h4>
							<p>
								还需要{{pn(5e8-moCount)}}次点击
							</p>
						</div>
					</div>
					<div class="doc">
						<div class="col" v-if="moCount>1e9">
							<h4>文档F</h4>
							<div class="docblock">
								<table>
									<tbody>
										<tr>
											<th>⊕</th>
											<th v-for="el in ELEMENTS" :style="{color:el.color}">
												{{el.token}}
											</th>
										</tr>
										<tr v-for="el in ELEMENTS">
											<th :style="{color:el.color}">
												{{el.token}}
											</th>
											<td v-for="el in ELEMENTS">
												咕
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col" v-else-if="moCount>=5e8">
							<h4>QAQ</h4>
							<p>
								还需要{{pn(1e9-moCount)}}次点击
							</p>
						</div>
					</div>
				</div>
				<div class="area">
					<div class="doc">
						<div class="col" v-if="moCount>5e9">
							<h4>文档G</h4>
							<p>
								<del>咕咕咕……</del>
							</p>
							<p>
								<del>“我千辛万苦点了{{pn(5e9)}}次你就给我看这个？”</del>
							</p>
						</div>
						<div class="col" v-else-if="moCount>=1e9">
							<h4>咕咕咕</h4>
							<p>
								还需要{{pn(5e9-moCount)}}次点击
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="area">
				<h2>存档</h2>
				<p>导出时请<strong><code>Ctrl + A</code></strong>选中，切勿双击选中！</p>
				<input v-model="saveInput">
				<button @click="saveImport">导入</button>
				<button @click="saveExport">导出</button>
			</div>
			<div class="area">
				<br v-for="_ in 4">
			</div>
		</div>
		<script src="./mosiyuan.js"></script>
		<link rel="stylesheet" href="../normalize.css">
		<link rel="stylesheet" href="../default.css">
		<link rel="stylesheet" href="./mosiyuan.css">
	</body>
</html>