.col{
	width: 45%;
	margin: 0 2.5%;
	float: left;
}
@media screen and (max-width: 900px) {
	.col{
		width: 95%;
		margin: 0 2.5%;
		float: left;
	}
}

.area{
	width: 100%;
	float: left;
}

.docblock{
	width:100%;
	height:250px;
	overflow: auto;
	border: 2px #444444 solid;
	/* color:#bbff00 */
}

.ww{
	width:100%;
}

.truthupgrade input[type=range]{
	width: 100%;
}

.truthupgrade input[type=number]{
	max-width: 100px;
}

.needed{
	color: gray;
}

/* *{
	color: fuchsia;
} */

.danger{
	color:red;
}

.help{
	cursor: help;
	border-bottom: 1px gray dashed;
}

button{
	cursor:pointer;
}

.siyuan{
	display: inline-block;
}
.siyuan::before{
	content: 'Siyuan';
	font-weight: bold;
	color:red !important;
}
.siyuan:first-letter{
	color:black !important;
}

.nya{
	color: palevioletred;
}

.global{
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
}