.col{
	width: 45%;
	margin: 0 2.5%;
	float: left;
}

.area{
	width: 100%;
	float: left;
}

.docblock{
	width:100%;
	height:250px;
	overflow: auto;
	border: 2px #444444 solid;
}

.siyuan{
	display: inline-block;
}
.siyuan::before{
	content: 'Siyuan';
	font-weight: bold;
	color:red !important;
}
.siyuan:first-letter{
	color:black !important;
}
