.col{
	width: 45%;
	margin: 0 2.5%;
	float: left;
}

.area{
	width: 100%;
	float: left;
}

.docblock{
	width:100%;
	height:250px;
	overflow: auto;
	border: 2px #444444 solid;
	background: whitesmoke;
}


.truthupgrade input[type=range]{
	max-width: 180px;
}

.truthupgrade input[type=number]{
	max-width: 90px;
}

.needed{
	color: gray;
}

.siyuan{
	display: inline-block;
}
.siyuan::before{
	content: 'Siyuan';
	font-weight: bold;
	color:red !important;
}
.siyuan:first-letter{
	color:black !important;
}
